:root {
  --vp-c-brand: var(--vk-color-primary);
  --vp-c-brand-light: var(--vk-color-primary-light-3);
  --vp-c-brand-lighter: var(--vk-color-primary-light-5);
  --vp-c-brand-dark: var(--vk-color-primary-dark-2);
  --vp-c-brand-darker: #265f99;

  --component-preview-bg: var(--vp-code-block-bg);
  --component-preview-soft: var(--vp-code-block-bg-light);

  
}

body {
  color: var(--vp-c-text-1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--vp-c-text-1);
}

.v-collapse {
  border-top : solid 1px var(--vp-c-divider);
  border-bottom : solid 1px var(--vp-c-divider);
  margin-left: 10px;
}


.v-collapse-item__header {
  background-color: var(--vk-color-primary-dark-2);
  color : var(--vp-c-text-1);
  border-color : var(--vp-c-divider);
}

.v-collapse-item__content {
  background-color: var(--vk-color-primary-dark-2);
  color : var(--vp-c-text-1);
  border-color : var(--vp-c-divider);
}


.v-tooltip {
  margin-right: 20px;
}


/* 首页中间内部布局 */
.is-home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-home .main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}